# Metadata file creation for the drawings

- This notebook contains the code to create a metadata file for the famous artworks
- Data from: https://www.kaggle.com/datasets/ikarus777/best-artworks-of-all-time

In [1]:
import glob
import pandas as pd

from tqdm import tqdm

In [2]:
famous_artworks_drawings = glob.glob("./../../data/image_data/famous_artworks/**/*.jpg")

In [3]:
def get_details(relative_path: str):
    relative_path = relative_path.replace("\\", "/")
    abs_path = relative_path.split("/", 6)[-1]
    artist_name, artwork_name = abs_path.split("/")
    return [artwork_name[:-4], artist_name, "image_data/famous_artworks/" + abs_path]

In [4]:
famous_artworks_name_path = [get_details(draw_rel_path) for draw_rel_path in tqdm(famous_artworks_drawings)]
famous_artworks_df = pd.DataFrame(famous_artworks_name_path, columns=["uid", "artist", "path"])
famous_artworks_df

100%|██████████████████████████████████████████████████████████████████████████| 8577/8577 [00:00<00:00, 781766.42it/s]

,uid,artist,path
0,Albrecht_Du╠êrer_1,Albrecht_Du╠êrer,image_data/famous_artworks/Albrecht_Du╠êrer/Al...
1,Albrecht_Du╠êrer_10,Albrecht_Du╠êrer,image_data/famous_artworks/Albrecht_Du╠êrer/Al...
2,Albrecht_Du╠êrer_100,Albrecht_Du╠êrer,image_data/famous_artworks/Albrecht_Du╠êrer/Al...
3,Albrecht_Du╠êrer_101,Albrecht_Du╠êrer,image_data/famous_artworks/Albrecht_Du╠êrer/Al...
4,Albrecht_Du╠êrer_102,Albrecht_Du╠êrer,image_data/famous_artworks/Albrecht_Du╠êrer/Al...
...,...,...,...
8572,William_Turner_65,William_Turner,image_data/famous_artworks/William_Turner/Will...
8573,William_Turner_66,William_Turner,image_data/famous_artworks/William_Turner/Will...
8574,William_Turner_7,William_Turner,image_data/famous_artworks/William_Turner/Will...
8575,William_Turner_8,William_Turner,image_data/famous_artworks/William_Turner/Will...
8576,William_Turner_9,William_Turner,image_data/famous_artworks/William_Turner/Will...

In [5]:
famous_artworks_df.to_csv("./../../data/text_data/metadata/famous_artworks_metadata_complete.csv", index=False)